.section2 {
    background-color: #eff9ff;
    text-align: center;
    line-height: 1.67;

    @media (min-width:1280px) {
        padding-inline: 17px;
    }

    &__title {
        font-size: 24px;
        font-family: "Roboto Slab", serif;
        font-optical-sizing: auto;
        font-weight: bold;
        padding-top: 29px;

        @media (min-width:768px) {
            grid-column: span 3;
            font-size: 26px;
        }

        @media (min-width:1280px) {
            font-size: 32px;
        }
    }

    &__box {
        margin-left: 68px;
        margin-right: 68px;

        @media (min-width:768px) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
        }
    }

    &__reason {

        @media (min-width:768px) {
            text-align: center;
        }
    }

    &__subtitle {
        font-size: 18px;
        margin-top: 3rem;
        font-family: "Roboto Slab", serif;
        font-optical-sizing: auto;
        font-weight: bold;

        @media (min-width:768px) {
            font-size: 24px;
        }
    }

    &__paragraph {
        font-size: 18px;

        @media (min-width:768px) {
            font-size: 20px;
        }
    }

    &__btn {
        width: 184px;
        height: 45px;
        border-radius: 22.5px;
        background-color: #f26002;
        color: white;
        border: none;
        font-size: 20px;
        margin-top: 4rem;
        margin-bottom: 60px;

        @media (min-width:1280px) {
            width: 255px;
        }
    }
}