<footer class="footer">

    <button class="ico-scroll-up">
        <a href="#top-of-page"><img src="./images/ico-arrow.svg" alt="icono de flecha hacia arriba"></a>
    </button>

    <div class="footer_nav">
        <nav class="footer_links">
            <ul class="footer_column1">
                <li><a class="footer_list" href="https://adalab.es/">Articles</a></li>
                <li><a class="footer_list" href="https://adalab.es/">Books</a></li>
                <li><a class="footer_list" href="https://adalab.es/">Events</a></li>
                <li><a class="footer_list" href="https://adalab.es/">Reasons</a></li>
                <li><a class="footer_list" href="https://adalab.es/">Tips</a></li>
            </ul>
        </nav>


        <nav>
            <ul class="footer_column2">
                <li><a class="footer_list" href="https://adalab.es/">Twitter</a></li>
                <li><a class="footer_list" href="https://adalab.es/">Instagram</a></li>
                <li><a class="footer_list" href="https://adalab.es/">Mastodon.social</a></li>
            </ul>
        </nav>

        <div class="footer_final">
            <ul class="lista-footer_final">
                <li>©2022</li>
                <li>we <span class="heart">❤︎</span> components</li>
            </ul>
        </div>
    </div>
</footer>