<header id="top-of-page" class="header">
    <a href="https://adalab.es/"> <img class="header__menu-icon" src="./images/ico-menu.svg"
            alt="icono menu hamburguer"></a>
    <div class="header__text-container">
        <h1 class="header__title">Anonymous Proxy</h1>
        <p class="header__subtitle">In hac habitasse platea dictumst.</p>
        <a href="#Reasons-To-Purchase"><img class="header__ico-scroll-down" src="./images/ico-scroll-down.svg"
                alt="icono flecha hacia abajo"></a>
    </div>
</header>