.header {
    background-image: url('../images/cover.jpeg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: white;



    &_menu {
        background-color: #0271bc;
        padding: 10px;
        position: fixed;
    }

    &_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        align-items: center;
        min-height: 100vh;

    }

    &_title {
        text-transform: uppercase;
        font-family: "Roboto Slab", serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-size: 42px;
        text-align: center;


        @media (min-width:768px) {
            font-size: 80px;
            line-height: 1.50;
        }

        @media (min-width:1280px) {
            font-size: 95px;
        }
    }

    &_subtitle {
        padding-top: 1rem;

        @media (min-width:768px) {
            font-size: 24px;
        }

    }
}

.ico-scroll-down {
    width: 37.9px;
    height: 37px;
    padding: 10px;
    border-radius: 50%;
    background-color: white;
    margin-top: 2rem;
    margin-bottom: 3rem;
}